
.content {
  background: white;
  border-radius: 2px;
}

:host ::ng-deep .dropdown-def {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #45b6af;
  border-width: medium;
  width: 200px;
}

:host ::ng-deep .dropdown-def:hover {
  border-color: #3fc7bf !important;
}

:host ::ng-deep .dropdown-def:not(.p-disabled).p-focus {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-color: #3fc7bf;
}

.input-label {
  font-size: 13px;
}

.checkbox-group {
  margin-top: 20px;
}

.weight-input {

}

:host ::ng-deep .p-inputnumber-buttons-stacked .p-inputnumber-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #45b6af;
  border-width: medium;
}

:host ::ng-deep .p-inputnumber-buttons-stacked .p-inputnumber-button-group .p-button.p-inputnumber-button  {
  background: #3fc7bf;
  width: 23px;
  border: none;
  border-radius: 2px;
  opacity: 0.75;
}

:host ::ng-deep .p-inputnumber-buttons-stacked .p-inputnumber-button-group:hover {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-color: #3fc7bf;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

:host ::ng-deep .p-button {
  background: #e26a6a;
  border: 1px solid #e26a6a;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-button:hover {
  background: #dc4c4c;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-button:focus {
  background: #dc4c4c;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  box-shadow: none;
}

.units {
  padding-left: 40px;
}

@media screen and (min-width: 1608px) {
  .units {
    padding-left: 80px;
  }
}

input, label {
  display:block;
}

.dashboard-stat.subpar {
  background-color: #e91e63;
}

.dashboard-stat {
  color: #fff;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
}

.dashboard-stat .visual>i {
  opacity: .1;
  text-shadow: none;
}

.dashboard-stat .details .desc {
  font-size: 18px;
}

.dashboard-stat.subpar .more {
  background-color: #dd1d5e;
}
.dashboard-stat .more {
  opacity: 1;
}

.lift-category-stats {
  font-size: 14px;
}

.lift-category-classification {
  font-style: italic;
  margin-left: 5px;
}

.boldish {
  font-weight: 600;
}

.lift-classification {
  font-style: italic;
  margin-left: 5px;
  font-size: 13px;
}

.muscle-figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.muscle-figure-legend {
  display: inline-block;
  max-width: 200px;
  vertical-align: bottom;
}

.muscle-figure-legend ul {
  font-size: 13px;
  font-weight: 600;
}

.fa.subpar {
  color: #e91e63;
}

.fa.untrained {
  color: #673ab7;
}

.fa.novice {
  color: #3f51b5;
}

.fa.intermediate {
  color: #009688;
}

.fa.proficient {
  color: #4caf50;
}

.fa.advanced {
  color: #cddc39;
}

.fa.exceptional {
  color: #ffc107;
}

.fa.elite {
  color: #ff5722;
}

.fa.world-class {
  color: #f44336;
}

.more-stats-items>div {
  margin-bottom: 10px;
}

.more-stats-items>div {
  margin-bottom: 10px;
}

.login-push .btn {
  width: 200px;
  text-align: left;
}

.login-push .facebook-btn {
  background-color: #3b5998;
  color: #fff;
}

.login-push .email-btn {
  background-color: #428bca;
  color: #fff;
}

.login-push .google-plus-btn {
  background-color: #dd4b3e;
  color: #fff;
}

.more-stats-items .item-name {
  white-space: nowrap;
}

#muscle-figure-male path.subpar, #muscle-figure-female path.subpar {
  fill: #e91e63;
  fill-opacity: .5;
  stroke-opacity: .3;
  stroke: #af174a;
}

#muscle-figure-male path.subpar.active{
  fill: #af174a;
  stroke: #750f32;
}

.app-image {

}

.app-image .app-img {
  width: 100%;
  height: 100%;
}


