<div class="col-12 main-background">
  <div class="col-8 xl:col-8 lg:col-8 md:col-12 sm:col-12 col-12 center content">
    <div class="col-12 grid" style="padding: 12px 20px 15px;">
      <h2 class="title-header" style="padding: 10px">Welcome to admin dashboard</h2>
      <hr>
    </div>
    <div class="card">
      <h5>User list</h5>
      <p-table [value]="users" selectionMode="single" [(selection)]="selectedUser" dataKey="id" styleClass="p-datatable-customers" responsiveLayout="scroll"
               [rows]="10" [paginator]="true" (onLazyLoad)="loadData()" [totalRecords]="totalRecords">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="email_verified">Email verified <p-sortIcon field="email_verified"></p-sortIcon></th>
            <th pSortableColumn="profile_completed">Profile completed <p-sortIcon field="profile_completed"></p-sortIcon></th>
            <th pSortableColumn="is_admin">Is admin <p-sortIcon field="is_admin"></p-sortIcon></th>
            <th pSortableColumn="public_page">Public page <p-sortIcon field="public_page"></p-sortIcon></th>
            <th pSortableColumn="hide_weight">Hide weight <p-sortIcon field="hide_weight"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>
              <span class="p-column-title">Username</span>
              {{user.username}}
            </td>
            <td>
              <span class="p-column-title">Email</span>
              <span class="image-text">{{user.email}}</span>
            </td>
            <td>
              <span class="p-column-title">Email verified</span>
              <span class="image-text">{{user.email_verified}}</span>
            </td>
            <td>
              <span class="p-column-title">Profile completed</span>
              <span [class]="'user-badge status-' + user.profile_completed">{{user.profile_completed}}</span>
            </td>
            <td>
              <span class="p-column-title">Is admin</span>
              <span [class]="'user-badge status-' + user.is_admin">{{user.is_admin}}</span>
            </td>
            <td>
              <span class="p-column-title">Public page</span>
              <span [class]="'user-badge status-' + user.public_page">{{user.public_page}}</span>
            </td>
            <td>
              <span class="p-column-title">Hide weight</span>
              <span [class]="'user-badge status-' + user.hide_weight">{{user.hide_weight}}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No users found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
