<div class="col-12 container-fluid foot-upper">
  <div class="col-8 center">
    <div class="col-12 grid">
      <div class="col-4 foot-about">
        <h2 class="about-header">ABOUT</h2>
        <p style="color: #a2abb7">Symmetric Strength provides a comprehensive lifter analysis based on strength research and data from strength competitions.</p>
      </div>
      <div class="col-2 center">
        <h2 class="about-header">FOLLOW US</h2>
      </div>
      <div class="col-6">
        <h2 class="about-header">SHARE SYMMETRIC STRENGTH ON SOCIAL MEDIA</h2>
      </div>
    </div>
  </div>
  <div class="col-12" style="background: #3b434c">
    <div class="col-8 center">
      <p style="color: #a2abad; font-size: 12px;">2015 © Symmetric Strength. Use of this site constitutes acceptance of the site's Privacy Policy and Terms of Use.</p>
    </div>
  </div>
</div>
