<div class="col-12 main-background">
  <div class="xl:col-8 lg:col-8 md:col-10 sm:col-12 center content">
    <div class="xl:col-10 lg:col-10 md:col-12 sm:col-12 grid">
      <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12" style="margin-top: 10px">
            <span class="p-float-label">
            <p-inputNumber id="weight" [min]="0" [(ngModel)]="weight" [showButtons]="true" inputId="weight">
            </p-inputNumber>
            <label for="weight">Weight</label>
            </span>
      </div>
      <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12" style="margin-top: 10px">
            <span class="p-float-label">
            <p-inputNumber id="reps" [min]="0" [(ngModel)]="reps" [showButtons]="true" inputId="reps">
            </p-inputNumber>
            <label for="reps">Reps</label>
            </span>
      </div>
    </div>
    <div class="col-12">
      <p-button label="Calculate 1RM" (onClick)="submit()"></p-button>
    </div>
  </div>
  <div *ngIf="resultShow" class="xl:col-8 lg:col-8 md:col-10 sm:col-12 col-12 center content" style="margin-top: 20px">
    <div class="col-12">
      <div class="portlet light"><div class="portlet-body"><div class="row list-separated more-stats-items"><div class="col-md-3 col-xs-6"><div class="item-name font-grey-mint font-lg">1RM</div>
        <div class="font-massive font-red-flamingo ng-binding">{{rmCalcDtoResp.oneRepMax}}</div>
      </div>
      </div>
        <p>Below is a table of other estimated rep maxes:</p>
        <table class="table table-striped table-bordered table-hover"><thead><tr><th>Rep Max</th>
          <th>Weight</th>
        </tr>
        </thead>
          <tbody>
          <tr *ngFor="let rm of rmCalcDtoResp.repMaxes">
            <td>{{rm.title}}</td>
            <td>{{rm.weight}}</td>
          </tr>
          </tbody>
        </table>
        <div class="note note-info"><p>Symmetric Strength uses Wathan's formula for all rep max calculations. A study on the accuracy of seven different rep max prediction formulas found Wathan's formula to be the most accurate. See the <a href="/about#references">References</a> section for more information.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
