<header class="header d-flex flex-row">
  <div class="col-12 grid">
    <div class="col-8 center title-and-login-status-container">
      <div class="col-12 grid">
        <div class="col-6 header-title">
          <span>SYMMETRIC STRENGTH</span>
        </div>
        <div class="col-6 login-span">
          <p-button label="Login / Register" icon="pi pi-user" iconPos="right"></p-button>
        </div>
      </div>
    </div>
    <div class="col-12 menu-container">
      <p-menubar [model]="items">
      </p-menubar>
    </div>
  </div>
</header>
