<header class="header d-flex flex-row">
  <div class="col-12 grid">
    <div class="xl:col-8 lg:col-8 md:col-10 sm:col-12 center title-and-login-status-container">
      <div class="col-12 grid">
        <div class="col-6 header-title">
          <span>SYMMETRIC STRENGTH</span>
        </div>
        <div class="col-6 grid login-span">
          <p-button *ngIf="!isLoggedIn" label="Login / Register" icon="pi pi-user" iconPos="right" (click)="navigateToRegister()"></p-button>
          <div *ngIf="isLoggedIn" class="header-right">
            <div class="top-menu hidden-xs hidden-sm">
              <ul class="nav navbar-nav pull-right">
                <li id="username-link" class="active">
                  <a class="topnav-link" href="https://symmetricstrength.com/">
                    <i class="fa fa-user"></i>
                    <span class="username username-hide-mobile">{{userDto.username}}</span>
                  </a>
                </li>
                <li id="public-page-link">
                  <a class="topnav-link" href="https://symmetricstrength.com/lifter/Mmdesf95">
                    <span>Public page</span>
                  </a>
                </li>
                <li id="settings-link">
                  <a class="topnav-link" (click)="goToSetting()"><span>Settings</span></a>
                </li>
                <li><a class="topnav-link" href="https://symmetricstrength.com/auth/logout"><span>Log out</span></a>
                </li>
              </ul>
            </div>
            <a class="menu-toggler" href="javascript:;"></a></div>
        </div>
      </div>
    </div>
    <div class="col-12 menu-container">
      <p-menubar [model]="items" [autoDisplay]="true">
      </p-menubar>
    </div>
    <div class="col-12 sub-header">
      <div class="col-8 center">
        <div class="page-title">
          <h1 *ngIf="router.url === '/home'" style="font-size: 25px;"> {{homePageTitle}} <small style="color: #9eacb4">Find strengths and weaknesses and measure yourself against other lifters</small></h1>
          <h1 *ngIf="router.url === '/strength-standards'" style="font-size: 25px;"> {{strengthStandardsTitle}}</h1>
          <h1 *ngIf="router.url === '/about'" style="font-size: 25px;"> {{about}} <small style="color: #9eacb4; font-size: 13px">Additional information & references</small></h1>
          <h1 *ngIf="router.url === '/calculator/one_rep_max'" style="font-size: 25px;"> {{oneRmCalc}}</h1>
          <h1 *ngIf="router.url === '/calculator/wilks'" style="font-size: 25px;"> {{wilksCalc}} <small style="color: #9eacb4; font-size: 13px">Calculate your powerlifting wilks score</small></h1>
          <h1 *ngIf="router.url === '/calculator/tdee'" style="font-size: 25px;"> {{tdeeCalc}} <small style="color: #9eacb4; font-size: 13px">Calculate your total daily energy expenditure (how many calories you burn per day)</small></h1>
          <h1 *ngIf="router.url === '/calculator/ideal_bodyweight'" style="font-size: 25px;"> {{idealBodyweightCalc}} <small style="color: #9eacb4; font-size: 13px">Find your ideal bodyweight based on your height and fitness goals</small></h1>
          <h1 *ngIf="isLoggedIn && router.url === '/'" style="font-size: 25px;"> Welcome, {{userDto.username}}. <small style="color: #9eacb4; font-size: 13px">Log your latest lifts and view your strength analysis.</small></h1>
          <h1 *ngIf="router.url === '/settings' && isLoggedIn" style="font-size: 25px;"> Change Settings. <small style="color: #9eacb4; font-size: 13px">Select your privacy settings on Symmetric Strength</small></h1>
        </div>
      </div>
    </div>
  </div>
</header>
