<div class="col-12 grid container-div">
  <div class="col-4 center">
    <div class="col-12 center" style="margin-top: 5vh">
      <span class="title">SYMMETRIC STRENGTH</span>
    </div>
    <div class="col-12 register-form">
      <div class="col-12 center register-header">
        <span>Set Password</span>
      </div>
      <form [formGroup]="resetPasswordForm">
        <div class="col-12" style="text-align: center; margin-bottom: 15px;">
        <span>
          You have been successfully registered! now set a password.
        </span>
          <span class="p-float-label content-input" style="margin-top: 30px">
            <input formControlName="password" id="float-password-input" class="input-width-100" type="password" pInputText [(ngModel)]="setPasswordDto.password">
            <label for="float-password-input">Password</label>
        </span>
          <span class="p-float-label content-input" style="margin-top: 30px">
            <input formControlName="rePassword" id="float-re-password-input" class="input-width-100" type="password" pInputText [(ngModel)]="setPasswordDto.confirm_password">
            <label for="float-re-password-input">Repeat password</label>
        </span>
          <div class="register-btn center btn-lg" style="margin-top: 30px;">
            <p-button label="Sign up" (onClick)="submit()" [disabled]="!resetPasswordForm.valid"></p-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
