:host ::ng-deep .register-btn .p-button {
  background-color: #59b7b0;
  border: unset;
  width: 100px;
}

:host ::ng-deep .register-btn.p-button:hover {
  background-color: #3f817c;
  border: unset;
}

.content-input {
  width: 85%;
  margin: 0 auto;
}
