/* You can add global styles to this file, and also import other style files */
.center {
  margin: 0 auto;
}

.main-background {
  height: 100%;
  background-color: #eff3f8;
}

.content {
  background: white;
  border-radius: 2px;
}

.title-header {
  color: #e26a6a;
  font-size: 15px;
  font-weight: 700;
}

.portlet-body {
  padding-top: 8px;
}

.padding-unset {
  padding: unset !important;
}

.g-login {
  background-color: red !important;
  padding: 3px !important;
}

.title {
  display: table;
  margin: 0 auto;
  color: #e26a6a;
  font-size: 30px;
}

.container-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #364150;
}

.register-form {
  margin-top: 5vh;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
}
.register-header {
  color: #77c1b7;
  font-size: 35px;
}

.input-width-100 {
  width: 100%
}

.google-or-facebook-login-btn-container {
  display: flex;
  direction: rtl;
}

.note {
  margin: 0 0 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.note.note-warning {
  background-color: #fcf8e3;
  border-color: #f5d89e;
  color: #8a6d3b;
}

.note.note-info {
  background-color: #eef7fb;
  border-color: #a6e1ec;
  color: #31708f;
}

.portlet {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.portlet.light {
  padding: 12px 20px 15px;
  background-color: #fff;
}

.portlet>.portlet-body {
  clear: both;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.portlet.light .portlet-body {
  padding-top: 8px;
}

.portlet.box.red-sunglo {
  border: 1px solid #ea9595;
  border-top: 0;
}

.portlet.red-sunglo {
  background-color: #e26a6a;
}

.portlet.box {
  padding: 0!important;
}

.portlet.box.red-sunglo>.portlet-title {
  background-color: #e26a6a;
}

.portlet.box>.portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}


.portlet>.portlet-title {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
  min-height: 41px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.portlet.light>.portlet-title {
  padding: 0;
  min-height: 48px;
}

.portlet.light>.portlet-title>.caption {
  color: #666;
  padding: 10px 0;
}

.portlet>.portlet-title>.caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}

.portlet.box>.portlet-title>.caption {
  padding: 11px 0 9px;
}

.portlet.light .portlet-body {
  padding-top: 8px;
}

.portlet>.portlet-body {
  clear: both;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.portlet.box>.portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet>.portlet-title>.caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}

.portlet>.portlet-title>.caption>i {
  float: left;
  margin-top: 4px;
  display: inline-block;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.box.red-sunglo>.portlet-title>.caption>i {
  color: #fff;
}

.table.table-bordered thead>tr>th {
  border-bottom: 0;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
}

th {
  text-align: left;
}

h2 {
  font-size: 27px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: open sans,sans-serif;
  font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.dashboard-stat .visual {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 35px;
}

.dashboard-stat .visual>i {
  margin-left: -35px;
  font-size: 110px;
  line-height: 110px;
}

.dashboard-stat .details {
  position: relative;
  right: 15px;
  padding-right: 15px;
}

.dashboard-stat .details .number {
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}

.dashboard-stat .details .desc {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
}

.dashboard-stat .more {
  clear: both;
  display: block;
  padding: 6px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  opacity: .7;
  filter: alpha(opacity=70);
}

.dashboard-stat .more {
  clear: both;
  display: block;
  padding: 6px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  opacity: .7;
  filter: alpha(opacity=70);
}

.portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
  font-size: 15px;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
  font-size: 16px;
}
.theme-font {
  color: #e26a6a!important;
}
.theme-font {
  color: #4db3a4;
}
.uppercase {
  text-transform: uppercase!important;
}
.bold {
  font-weight: 700!important;
}

.hidden {
  display: none!important;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

.panel-default {
  border-color: #e0e0e0;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #e0e0e0;
}

.panel .panel-body {
  font-size: 13px;
}
.panel-body {
  padding: 15px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-separated {
  margin-top: 10px;
  margin-bottom: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.font-grey-mint {
  color: #9eacb4!important;
}

.font-sm {
  font-size: 13px;
}

.font-red-flamingo {
  color: #ef4836!important;
}

.font-hg {
  font-size: 23px;
}

.font-lg {
  font-size: 18px;
}

.note {
  margin: 0 0 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.social-icons {
  padding: 0;
  margin: 0;
}

.margin-bottom-40 {
  margin-bottom: 40px!important;
}

.social-icons li .facebook {
  background: url('../src/assets/img/social/facebook.png') no-repeat;
}

.social-icons li .twitter {
  background: url('../src/assets/img/social/twitter.png') no-repeat;
}

.social-icons li .googleplus {
  background: url('../src/assets/img/social/googleplus.png') no-repeat;
}

.page-prefooter .social-icons {
  padding-top: 9px;
}

.page-prefooter {
  background: #48525e;
  color: #a2abb7;
}

.page-prefooter {
  padding: 30px 0;
  clear: both;
}
.page-prefooter {
  background: #48525e;
  color: #a2abb7;
}

.page-prefooter .social-icons li {
  opacity: .35;
  filter: alpha(opacity=35);
}

.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}

.social-icons li>a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.page-footer a {
  font-weight: 400;
  color: #e26a6a;
}

.page-prefooter a {
  color: #e26a6a;
}
.page-prefooter a {
  color: #4db3a4;
}

.rrssb-buttons {
  box-sizing: border-box;
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.rrssb-buttons li {
  box-sizing: border-box;
  float: left;
  height: 100%;
  line-height: 13px;
  list-style: none;
  margin: 0;
  padding: 0 2px;
}

.rrssb-buttons li a {
  background-color: #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 11px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: 100%;
  padding: 11px 7px 12px 27px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  width: 100%;
}

.rrssb-buttons li a .rrssb-text {
  color: #fff;
}

.rrssb-buttons li a .rrssb-icon svg {
  height: 17px;
  width: 17px;
}

svg:not(:root) {
  overflow: hidden;
}

.rrssb-buttons li a .rrssb-icon svg path, .rrssb-buttons li a .rrssb-icon svg polygon {
  fill: #fff;
}

.rrssb-buttons li.rrssb-twitter a {
  background-color: #26c4f1;
}

.rrssb-buttons li.rrssb-facebook a {
  background-color: #306199;
}

.rrssb-buttons li a .rrssb-icon {
  display: block;
  left: 10px;
  padding-top: 9px;
  position: absolute;
  top: 0;
  width: 10%;
}

.rrssb-buttons li.rrssb-googleplus a {
  background-color: #e93f2e;
}

.rrssb-buttons li.small a .rrssb-icon {
  left: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 100%;
}

.rrssb-buttons li.small a {
  padding: 0;
}
.rrssb-buttons li.rrssb-pinterest a {
  background-color: #b81621;
}

.rrssb-buttons li.small a .rrssb-text {
  visibility: hidden;
}

.rrssb-buttons li a .rrssb-text {
  color: #fff;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert {
  border-width: 1px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control.form-control-solid {
  background-color: #f1f3f8;
  border-color: #f1f3f8;
  color: #a6b2ba;
}

.form-control {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-success {
  color: #fff;
  background-color: #45b6af;
  border-color: #3ea49d;
}

.uppercase {
  text-transform: uppercase!important;
}

.top-menu {
  margin: 13px 0 0;
  padding: 0;
  float: right;
}

.top-menu .navbar-nav {
  direction: ltr;
  padding: 0;
  display: block;
}

.pull-right {
  float: right!important;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: inline-block;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-nav>li>a {
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 20px;
 }
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

/*@media (min-width: 768px) and navbar-nav>li>a {*/
/*    padding-top: 15px;*/
/*    padding-bottom: 15px;*/
/*  }*/

/*  .navbar-nav>li>a {*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    line-height: 20px;*/
/*  }*/
/*  .nav>li>a {*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 10px 15px;*/
/*  }*/
/*}*/

.menu-toggler {
  float: right;
  display: none;
  margin: 23px 3px 0 13px;
  width: 40px;
  height: 30px;
  background: url('../src/assets/img/menu-toggler.png') center center;
  background-repeat: no-repeat;
  opacity: .7;
  filter: alpha(opacity=70);
}

.general-margin-top-10 {
  margin-top: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs, .nav-pills {
  margin-bottom: 10px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.tab-content>.active {
  display: block;
}

.green-haze.btn {
  color: #fff;
  background-color: #44b6ae;
}

.btn+.btn {
  margin-left: 5px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
}

.btn {
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none!important;
  background-image: none!important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
