.register-btn {
  text-align: left;
  margin-top: 23px;
  padding-left: 7px;
  padding-bottom: 18px;
}

:host ::ng-deep .register-btn .p-button {
  background-color: #59b7b0;
  border: unset;
  width: 85px;
}

:host ::ng-deep .register-btn.p-button:hover {
  background-color: #3f817c;
  border: unset;
}

.spam-warning {
  border:1px solid;
  border-radius: 8px;
  text-align: left;
  background-color: #c1e9e4;
  color: cadetblue;
  padding: 24px;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
}
